/*  CSS RESET FIRST */

html { 
    position: relative;
    min-height: 100%;
    min-width: 100%;
    width: 960px;
    
}

body {
    background: url(../images/background.png);
    background-attachment: fixed;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 16px;
}

header {
    background: #ffffff;
    border-color: #cccccc;
    overflow: auto;
    width: 100%;
}

p {
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    font-family: 'Roboto', 'Arial', serif;
}

/* ---- HEADER ---- */

h1, h2, h3, {
    font-family:'Georgia', 'Times','Times New Roman', serif;
    padding: 20px;
}

h1 {
    font-size: 200%;
    font-weight: 700;
    background-color: #4aaaa5;
    color: white;
    height: 90px;
    padding: 20px;
    line-height: 70px;
    float: left;
    margin-left: 3%;
}

h2, h3 {
    color: #4aaaa5;
    font-weight: 600;
    font-size: 175%;
}

/* ---- NAV / ANCHOR  ---- */

nav {
    padding: 20px;
    float: left;
    display: inline;
    margin-left: 550px;
    margin-top: 50px;
}

nav a {
    font-family: 'Roboto', serif;
    font-size: 24px;
}

nav a::after {
    content: '|';
    padding: 5px;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration-color: red;
}

a {
    text-decoration: none;
}

/* ---- BODY / SECTION ---- */

.indexSetion { /* -- index.html only -- */
    width: 650px;
    background: white;
    border-collapse: collapse;
    float: left;
    margin-left: 10%;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: #dddddd;
    clear: both;
    padding: 5px;
}

hr {
    color: #96999F;
}

.portfolioMe { /* For index.html */
    float: left;
    height: 150px;
    width: 150px;
    padding: 10px;
}

/* ------------------------- Portfolio Images & Text -------------------------  */

.globalSection { 
    width: 650px;
    background: white;
    margin: 40px;
    padding: 40px;
    float: left;
}
.portfolioImages {
    position: relative;
    width: 250px;
    margin-left: 35px;
    margin-bottom: 25px;
}

#Hangman, #RPG, #Trivia, #Widget, #Scissors {
    z-index: 2;
    font-size: 24px;
    background: #4aaaa5;
    color: white;
    font-weight: 700px;
    width: 210px;
    height: 30px;
    position: absolute;
    font-family: 'Georgia', serif;
    text-align: center;
    padding: 20px;
}

#Hangman {
    top: 444px;
    left: 115px;
}

#RPG {
    top: 444px;
    left: 404px;
}

#Trivia {
    top: 715px;
    left: 115px;
}

#Widget {
    top: 715px;
    left: 404px;
}

#Scissors {
    top: 991px;
    left: 115px;
    
}

div:link {
    background: white;
    color: #4aaaa5;
}

/* ------------------------- Contact Form -------------------------  */

form {
    font-size: 24px;
    padding: 10px;
    font-family: 'Helvetica', 'Roboto', 'Arial', serif;
    color: #4aaaa5;
    font-weight: 700;

}

input {
    width: 40%;
    height: 25px;
    font-size: 16px;
    margin-top: 5px;
}

textarea {
    margin-top: 7px;
    font-size: 16px;

}

input[type=submit] {
    border: 10px;
    border-color: #4aaaa5;
    width: 150px;
    height:50px;
    font-family:'Helvetica', 'Roboto', 'Arial', serif;
    background: #4aaaa5;
    color: white;
    font-size: 24px;
    font-weight: 600;
}

input[type=submit]:hover {
    background-color: black;
    color: #white;
}

/* ------------------------- Connect with Me -------------------------  */

.connectBox { 
    width: 276px;
    background: #ffffff;
    text-align: center;
    margin-top: 40px;
    float: left;
}

.connectIcon {
    height: 60px;
    width: 60px;
    padding: 5px;
    clear: both;
}

/* ---- FOOTER ---- */

footer {
    background: #666666;
    width: 100%;
    clear: both;
    text-align: center;
    color: floralwhite;
    position: absolute;
    bottom: 0;
}







